<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style type="text/css" src="stylessheets/style.css"></style>
  <body>
    <ul class="nav">
      <li><a class="on" href="#">Homepage</a></li>
      <li><a href="views/comment.ejs">Comment</a></li>
      <li><a href="www.baidu.com">Rank</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </body>
    <p>Welcome to <%= title %></p>
    <p>Here you can do something for your favourite movies</p>
  </body>
</html>
